body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(darkgreen, darkblue);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  margin: auto;
  background: darkgreen;
  width: 10%;
  float: left;
  padding: 2em;
}

.titlebar {
  margin: auto;
  background darkgreen;
  width: 100%;
  text-align: center;
  font-size: 24pt;
  padding: 20px;
  color: black;
}

.dropbtn {
  text-decoration: none;
  border: none;
  background-color: darkgreen;
  font-size: 30pt;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.dropbtn:hover {
  background-color: darkblue;
  font-size: 35pt;
}

.navbtn {
  text-decoration: none;
  border: none;
  background-color: darkgreen;
  font-size: 30pt;
  outline: none;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbtn * {
  text-align: center;
}

/* Thanks StackOverflow! */
/* https://stackoverflow.com/questions/6868009/html-anchor-disable-style */
/* Begin credited block */
.navbtn a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.navbtn a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
/* End credited block */

.navbtn:hover {
  background-color: darkblue;
  font-size: 35pt;
}

.dropdown-content {
  display: none;
  color: black;
  /* position: absolute; */
  z-index: 1;
  width: 10;
  background-color: darkblue;
  color: white;
  font-size: 16pt;
}

.dropdown-content a {
  padding: 10px;
  color: inherit;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.textbox {
  width: 40%;
  float: right;
  background: ghostwhite;
  font-size: 20pt;
  padding: 10px;
  border: 5px solid lightgrey;
  margin: 10px;
}

.textbox * {
  float: center;
}
